---
import Github from "@assets/icons/github.astro"
import Email from "@assets/icons/email.astro"
import Linkedin from "@assets/icons/linkedin.astro"
import ContainerHover from "@components/ContainerHover.astro"
---

<nav class="w-full flex justify-between items-center">
  <div class="flex gap-3 items-center">
    <ContainerHover link="mailto:">
      <Email />
    </ContainerHover>
  <!--  <ContainerHover link="https://github.com/garaven">
      <Github />
    </ContainerHover>
    <ContainerHover link="https://www.linkedin.com/in/ton-nom-utilisateur">
      <Linkedin />
    </ContainerHover> -->
  </div>
</nav>