---
import ProjectCard from '@components/ProjectCard.astro'
import Typescript from '@assets/icons/typescript.astro';
import React from '@assets/icons/react.astro';
import Supabase from '@assets/icons/supabase.astro';
import Tailwind from '@assets/icons/tailwind.astro';
---

<section class="my-20">
  <h2 class="text-2xl font-semibold mb-2">Mes projets</h2>
  <hr class="mb-6 border-zinc-600">

  <ProjectCard projectTitle="Projet 1" projectDescription="Sistema de gestión de inventario eficiente para Pymes, que simplifica el seguimiento, el control y la optimización de los niveles de existencias para satisfacer sus necesidades específicas." projectLink="https://github.com/Gothsec/StockIn-demo" image="/images/stockin.png">
    <React />
    <Supabase />
    <Tailwind />
  </ProjectCard>
  <ProjectCard projectTitle="Projet 2" projectDescription="Sistema de gestión de inventario eficiente para Pymes, que simplifica el seguimiento, el control y la optimización de los niveles de existencias para satisfacer sus necesidades específicas." projectLink="https://github.com/Gothsec/StockIn-demo" image="/images/stockin.png">
    <React />
    <Supabase />
    <Tailwind />
  </ProjectCard>
</section>